@charset "UTF-8";

body {
    background-color: #002efa;
}


section {
    background-color: rgb(200, 200, 200);
    font-size: 4vw;
    border-radius: 10px;
    margin: 0px 20px;
    padding: 0px 10px;
}

header {
    font-size: 20px;
    color: rgb(250, 250, 250);
    text-align: center;
} 

footer {
    font-size: 30px;
    color: rgb(250, 250, 250);
    text-align: right;
}

h2 {
    text-align: center;
}

.conteudo {
    display: table;
}

.texto {
    display: table-cell;
    margin-left: 10px;
    float: left;
}


.imagem {
    display: table-column;
    float: left;
    margin-right: 10px;
}

.link {
    padding: 10px;
    margin: auto;
}
