@charset "UTF-8";

body {
    background-color: rgb(0, 0, 250);
}


section {
    background-color: rgb(200, 200, 200);
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

header {
    font-size: 20px;
    text-align: center;
} 

footer {
    font-size: 30;
    text-align: right;
}

