@charset "UTF-8";

@font-face {
    font-family: 'azonix';
    src: url('fontes/Azonix.otf') format('opentype');
}

/*
azul = #0046f4
cinza = #c8c8c8
*/

body {
    margin: 20px;
    border-spacing: 0px;
    font-size: 0px;
    background-image: linear-gradient(
        to right, rgb(0, 0, 150), rgb(0, 155, 255));
}

main {
    background-color: #c8c8c8;
    color: #c8c8c8;
    font-size: 30px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 150, 0.432);
    border-radius: 5px;
    float: left;    
}
section {
    background-color: rgb(225,225,225);
    color: black;
    padding: 10px;
    margin: 10px; 
    height: fit-content; 
    
    text-align: center;
    border-radius: 5px;
}
p {
    margin: 0px;
}

header {
    height: fit-content;
    color: #ffffff;
    width: fit-content;
    margin: auto;
} 
h1 {
    color: white;
    font-family: 'azonix';
    font-size: 75px;
    text-align: center;
}
h2 {
    margin: auto;
    width: fit-content;
    font-size: 50px;
    font-family: 'azonix';
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0px 0px 12.5px 0px;
    border-image: linear-gradient(
        to right, rgb(0, 0, 150), rgb(0, 155, 255));
    border-image-slice: 1;
}
div {
    width: fit-content;
    padding: 0px;
    display: inline-block;
}
ul {
    list-style-type: square;
}
img {
    margin: 5px;
}
.img-inline {
    width: 100%;
    display: inline-block;
}
.img-block {
    width: 100%;
    display: table-row;
}

.inline-p {
    max-width: 500px;
    float: left;
}

.block {
    padding: 5px;
}

.inline-g {
    max-width: 700px;
    float: left;
}

.link {
    width: 400px;
    min-height: 44px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(110,110,110);
    margin: auto;
    font-size: 30px;
}
a:hover {
    color: rgb(0, 70, 255);
}
a:active {
    color: rgb(255,255,255);
}

@media (max-width: 500px) {
    main {
        text-align: center;
        font-size: 25px;
    }
    .link {
        font-size: 25px;
    }
}